[Desktop Entry]
Name=noson
Comment=The essential to control music from your SONOS devices
Exec=noson
Icon=${SNAP}/usr/share/noson/graphics/noson.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
